#
# Use 'pip-compile' from pip-tools package to generate requirements.txt from this file.
# To update the requirements, run 'pip-compile -v -U'

## Primary requirements
ansible
requests
requests-oauthlib
oslo.utils
openshift
python-heatclient
python-novaclient
python-openstackclient
python-swiftclient
openstacksdk
jinja2

# for hot-reload/rsync-on-change in development
inotify

# for generating requirements.txt
pip-tools

# for parsing data from YAML files
yq
