{
  "OSD_{{ osd_cluster_name }}_BASE_URL": "{{ osd_base_url }}",
  "OSD_{{ osd_cluster_name }}_SUBDOMAIN": "{{ osd_subdomain }}",
  "OSD_{{ osd_cluster_name }}_USER": "{{ vaulted_osd_username }}",
  "OSD_{{ osd_cluster_name }}_PASSWORD": "{{ vaulted_osd_password }}"
}
