# reverse proxy module
LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so

LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so

# apache documentation recommends a http proxy, but we go with ajp, because only it
# supports request environment variables, strongly endorsed by the shibboleth documentation
LoadModule proxy_ajp_module /usr/lib/apache2/modules/mod_proxy_ajp.so

LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so

LoadModule slotmem_shm_module /usr/lib/apache2/modules/mod_slotmem_shm.so

# listen to a high port because we don't have root privileges
Listen 8000

<Location /login>

        AuthType shibboleth
        ShibRequestSetting requireSession 1
        ShibUseHeaders On
        require shib-session

        ProxyPass http://{{ template_name }}-api:8080/login
        ProxyPassReverse http://{{ template_name }}-api:8080/login
</Location>

ServerName https://{{ sso_hostname }}:443
