{% if docker_storage_driver|default('overlay2') == 'devicemapper' %}
STORAGE_DRIVER=devicemapper

{% if lib_docker_device is defined %}
DEVS="{{ lib_docker_device }}"
VG=docker
DATA_SIZE=99%FREE
{% endif %}

{% endif %}
